

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* car check */

body{
  background:#fff;
  margin:8px;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color:#086474;
}

p{
  line-height: 1.3rem;
  font-size:.9rem;
}

h1{
  font-size: 1.4rem;
  font-weight:bold;
  margin-bottom:.5rem;
}

h1 span{
  font-weight:normal;
  color:#fe8c00;
  padding-left:.4rem;
}

h2,h3{
  font-weight:bold;
  margin-bottom:.5rem;
}

hr{
  width:2rem;
  height:8px;
  background:#70CCD4;
  border:0;
  display:block;
  text-align:left;
  margin:.3rem 0 1rem 0;
}

label{
  font-weight: bold;
  margin-bottom:2rem;
  display: block;
}

h1,h2,h3,h4,label{
  color:#086474;
}



option{
  width:100%;
}

input, select{
  width:96%;
  margin:.8rem 0 .3rem 0;
  padding:2%;
  display:block;
  border:1px solid #ccc;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

input:focus, select:focus{
  border:1px solid purple;
  border-radius:0;
  outline:none;
}

.button{
  background: #686E9E;
  padding:1rem;
  border:none;
  font-weight:bold;
  color:#fff;
  margin-left: 0.5rem;
}

.wrapper{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 5px 0 rgb(0 0 0 / 19%);
    max-width: 400px;
    margin: auto;
}

.header{
  background: linear-gradient(90deg,#006272 25%,#4db1b3);
  position: relative;
  max-width: 400px;
  height:118px;
}

.header img{
    position: absolute;
    width: 75%;
    top: 35%;
    left: 7%;
}

.intro{
  background:#EFFCFC;
  padding:1rem;
  margin-bottom:1rem;
}

.content{
  padding:1rem;
}

.content label:last-child{
  margin-bottom: 0;
}

.payment{
  background:#DFECE3;
  padding:1rem;
  border:1px solid #ccc;
  margin-top:.5rem;
}

#plate-search{
  display:block;
  margin-bottom: 2rem;
}

#vin-search{
  display:none;
  margin-bottom: 2rem;
}

#car-info{
  display:none;
  font-size:.9rem;
  margin-bottom: 5rem;
}

label a{
  font-weight:normal;
  color:#086474;
  padding-top:.5rem;
  display:block;
  font-size:.9rem;
}

/*Results page*/

.content-minor {
  padding:1rem;
}

.accordion {
  border-radius: 50%; 
  border: 1px solid gray; 
  width: 2.5rem; 
  height: 2rem;
  align-self: center;
  background-position: 50% 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 1rem,1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23313131' d='M64 0l64 64-16 16-64-64'/%3E%3Cpath fill='%23313131' d='M64 0l16 16-64 64L0 64'/%3E%3C/svg%3E");
  
}

.arrow-down {
  transform: rotate(-180deg);
}

.arrow-side {
  transform: rotate(90deg);
}

.header-minor {
 padding: 0 1rem 0 1rem; 
 border-top-left-radius: 0.5rem; 
 border-top-right-radius: 0.5rem;
 display: flex;
 justify-content: space-between;
 border-bottom: 1px solid gray; 
}

.car-info .header-minor {
  background-color: #d0e0e8;
}

.free-from-debt .header-minor, .stolen .header-minor, .survey .header-minor, .written-off .header-minor {
  background-color: #f8fcec;
}

.safety-recall .header-minor {
  background-color: #fff4ec;
}

.expanded {
  border-bottom-left-radius: 0rem; 
  border-bottom-right-radius: 0rem;
  
}

.hidden {
  border-bottom-left-radius: 0.5rem; 
  border-bottom-right-radius: 0.5rem;
}

.header-minor h3 {
  margin: 0; 
  align-self: center;
  width: 100%;
  text-align: left;
}

.accordion p {
  font-size: xx-large;
  text-align: center;
  line-height: 1rem;
}

.information {
  border-radius: 0.5rem; 
  border: 1px solid gray;
  margin-bottom: 1rem;
}

.content-hidden {
  display: none;
}

.icon {
  width: 3.5rem;
}

.terms {
  font-size:xx-small;
}

.survey-option-label {
 display: inline;
font-weight: normal;
}

.survey-option-input {
 display: inline;
 width: 10%; 
}

strong {
 font-weight: 500;
}

section {
 margin-bottom: 1rem;
}



